
<main>

  <h2>Your comment</h2>
  <p><%= Era.find(Result.find(@comment.result_id).era_id).name  %></p>
  <p><%= Result.find(@comment.result_id).body  %></p>
  <p><%= @comment.body %></p>
  <div>
    <button type="button">Share on Facebook</button>

<a href="https://www.facebook.com/sharer/sharer.php?u=http://onceuponatime.wikia.com/wiki/Once_Upon_a_Time_Wiki" target="_blank">
  Share on Facebook
</a>


<section>
  <h1>Top 10 last words</h1>
</section>
  <% @comments.each do |comment| %>

  <div>
    <button type="button">Like</button>
    <p><%= comment.vote %> </p>
    <p><%= Era.find(Result.find(comment.result_id).era_id).name  %></p>
    <p><%= Result.find(comment.result_id).body  %></p>
    <p><%= comment.body %></p>
  </div>


 <% end %>

</main>
<footer>
  <p>&copy; 2016 KoolKats, Inc.</p>
</footer>


